include ../input-text/input-text
include ../battleship/battleship

mixin user-data
    #hideContent.user-data
        label(for='user-name').user-data__title Введите данные пользователя
        .user-data__name
            +input-text()(name='user-name' value='' placeholder='Введите имя')
            input#start.button.button--start(type='submit' value='Начать игру')

    #showContent.start
        +battleship(name)