.game-board {
    display: flex;
    justify-content: center;
    
    &__user-img,
    &__pc-img{
        margin-right: 30px;

        > img {
            position: absolute;
            width: 330px;
            margin-top: -24px;
            margin-left: 5px;
        }
    }

    &__user-board,
    &__pc-board {
        width: 305px; 
        height: 305px; 
        float: left; 
        z-index: 1;

        > div {
            width: 30px; 
            height: 30px; 
            float: left; 
            border: 1px solid white;
        }

        .dead { 
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            background: color('red');
            transition: background $animation-time;
        }
    
        .miss { 
            background: color('grey');
            transition: background $animation-time;
        }
    }

    .void {
        background: color('blue'); 
    }

    &__user-board .ship {   
        background: color('dark-blue');
    }

    &__pc-board .ship { 
        background: color('blue'); 
    }
}