mixin game-board()
    .game-board
        .game-board__user
            img.game-board__user-img(src='assets/images/game-board.png' alt='board')
        .game-board__pc
            img.game-board__pc-img(src='assets/images/game-board.png' alt='board')