mixin game-board()
    .game-board
        .game-board__user-img
            img(src='assets/images/game-board.png' alt='board')
        .game-board__user-board.js-user-board
        .game-board__pc-img
            img(src='assets/images/game-board.png' alt='board')
        .game-board__pc-board.js-pc-board