mixin footer()
    footer.footer 
        .container
            .social
                span.social__text= 'По любым вопросам обращайтесь:'
                a.social__email(href='mailto:shikova.eugenia@gmail.com') shikova.eugenia@gmail.com