.button {
    border: none;
    color: inherit;
    background-color: transparent;
    border: none;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    font-family: $font-family-base;

    &--start {
        padding: 10px;
        margin-top: 10px;
        color: color("white");
        background-color: color("blue");

        text-transform: uppercase;
        width: 100%;
        border: 1px solid rgba(18, 110, 203, 0.5);
        border-radius: 4px;
        transition: opacity $animation-time;
        transition: background-color $animation-time;

        &:active {
            opacity: 0.7;
        }

        &:hover {
            background-color: color("dark-blue");
        }
    }
}
