//- Используем стандартный шаблон
extends ../layouts/default/default
include ../components/user-data/user-data

//- Выводим контент
block content
    .container
        .mt-lg-4
            +user-data()