//- Используем стандартный шаблон
extends ../layouts/default/default
include ../components/user-data/user-data
include ../components/battleship/battleship

//- Выводим контент
block content
    .container
        .mt-lg-2
            #hideContent.user-data
                +user-data()
            #showContent.start
                +battleship()