include ../game-board/game-board

mixin battleship()
    .container
        .col-xs-12
            .battleship.js-battleship
                +game-board()
                .battleship__progress.js-move 
                    | Добро пожаловать!<br>На левой части экрана изображено твоё поле, в правой части -
                    | игровое поле твоего соперника. Синим цветом изображены целые корабли, красным цветом - потопленные или раненые. 
                    | Серыми квадратами обозначены промахи. Твоя задача найти и уничтожить корабли соперника как можно скорее.
                    | <br>Удачной игры!<br><br>