include ../game-board/game-board

mixin battleship()
    .container
        .col-xs-12
            .battleship.js-battleship
                +game-board()
                .battleship__progress.js-move 
                    | Добро пожаловать!<br>В левой части экрана изображено Ваше поле, в правой части -
                    | игровое поле соперника. Синим цветом изображены целые корабли, красным цветом - потопленные или раненые. 
                    | Серыми квадратами обозначены промахи. <br>Цель игры: найти и «потопить» все вражеские корабли,
                    | находящиеся на игровом поле.<br>Удачной игры!<br><br>